build/
devel/
result*
*.egg-info
*.pyc
.catkin_workspace
log
.vscode/
.ipynb_checkpoints/
*.pkl
bags/
# Except the /bags/wamv folder and its contents
!/bags/wamv
!/bags/wamv/**
__pycache__
events.*
*.pth
*.mp4

*.zip

csv/*
catkin_ws/src/wamv_rl/model/*
catkin_ws/src/wamv_rl/csv
catkin_ws/logs/*
catkin_ws/.catkin_tools/

rl/d4pg/learner
rl/d4pg/train_loop
Results/*
!/**/.gitkeep
*.ipynb
*.swp

tags

ckpt-*

volume/*
utils/*.png

rl/ppo/logs/
rl/ppo/tb_ppo/

.catkin_tools/